.profile-image {
    $profile-image-size: 50px;
    $profile-zoom-factor: 1.4;

    width: $profile-image-size * $profile-zoom-factor;
    height: $profile-image-size;

    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        top: percentage((1- $profile-zoom-factor) / 2);

        width: 100%;
        height: $profile-image-size * $profile-zoom-factor;
        border-radius: $profile-image-size;
    }
}
